<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>更改用户</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            更改用户
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/user">用户管理</a>
            </li>
            <li class="active"> 更改用户 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="userForm"
                                  method="post" th:action="@{/user/update}">

                                <input type="hidden" name="id" th:value="${user} ? ${user.id}"/>

                                <div class="form-group">
                                    <label for="nickname" class="control-label col-md-2 col-sm-2">姓名：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="nickname" name="nickname" class="form-control"
                                               placeholder="姓名" minlength="1" maxlength="16" autofocus required
                                               th:value="${user} ? ${user.nickname}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['nickname']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telephone" class="control-label col-md-2 col-sm-2">手机号：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="telephone" name="telephone" class="form-control"
                                               placeholder="手机号码" minlength="11" maxlength="11" required
                                               th:value="${user} ? ${user.telephone}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['telephone']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="position" class="control-label col-md-2 col-sm-2">职位：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="position" name="position" class="form-control"
                                               placeholder="职位名称" minlength="1" maxlength="32" required
                                               th:value="${user} ? ${user.position}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['position']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label for="username" class="control-label col-md-2 col-sm-2">登陆名:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="username" name="username" class="form-control"
                                               placeholder="登录名" minlength="6" maxlength="16" disabled
                                               th:value="${user} ? ${user.username}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['username']}"></label>
                                        </p>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label for="hiredate" class="control-label col-md-2 col-sm-2">入职时间：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="hiredate" name="hiredate" class="form-control"
                                               placeholder="入职时间" data-mask="2099-99-99" required
                                               th:value="${user} ? ${#dates.format(user.hiredate,'yyyy-MM-dd')}
                                                                    : ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['hiredate']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="active" class="control-label col-md-2 col-sm-2">状态：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="active" name="active" class="form-control"
                                                th:value="${user} ? ${user.active}">
                                            <option value="1">激活/在职</option>
                                            <option value="0" th:attr="selected=(${user.active} eq 0)">冻结/离职</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="control-label col-md-2 col-sm-2">描述:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea id="description" name="description" class="form-control"
                                                  placeholder="描述/备注" maxlength="1024"
                                               th:text="${user} ? ${user.description}">
                                        </textarea>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['description']}"></label>
                                        </p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#userMenu").addClass("nav-active");
            $("#userLi").addClass("active");
        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
