<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">

    <title>数据面板</title>

</head>

<body>

<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>汇总面板</h3>
        <ul class="breadcrumb">
            <li><a href="#">数据汇总</a></li>
            <li class="active">汇总面板</li>
        </ul>
        <div class="state-info">
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>本月收入</span>
                        <h3 class="red-txt">$ 345,600</h3>
                    </div>
                    <div id="income" class="chart-bar"></div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>今日收入</span>
                        <h3 class="green-txt">$ 45,600</h3>
                    </div>
                    <div id="expense" class="chart-bar"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--statistics start-->
                <div class="row state-overview">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel purple">
                            <div class="symbol">
                                <i class="fa fa-gavel"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">230</div>
                                <div class="title">New Order</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel red">
                            <div class="symbol">
                                <i class="fa fa-tags"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">3490</div>
                                <div class="title">Copy Sold</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row state-overview">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel blue">
                            <div class="symbol">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">22014</div>
                                <div class="title">Total Revenue</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel green">
                            <div class="symbol">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">390</div>
                                <div class="title">Unique Visitors</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--statistics end-->
            </div>
            <div class="col-md-6">
                <!--more statistics box start-->
                <div class="panel deep-purple-box">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div id="graph-donut" class="revenue-graph"></div>

                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <ul class="bar-legend">
                                    <li><span class="blue"></span> Open rate</li>
                                    <li><span class="green"></span> Click rate</li>
                                    <li><span class="purple"></span> Share rate</li>
                                    <li><span class="red"></span> Unsubscribed rate</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--more statistics box end-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <h4 class="pros-title">
                            prospective <span>leads</span>
                        </h4>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-1"></div>
                                <p class="p-chart-title">Laptop</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-2"></div>
                                <p class="p-chart-title">iPhone</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-3"></div>
                                <p class="p-chart-title">iPad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <div class="col-sm-6 col-xs-6">
                            <div class="v-title">Visits</div>
                            <div class="v-value">10,090</div>
                            <div id="visit-1"></div>
                            <div class="v-info">Pages/Visit</div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="v-title">Unique Visitors</div>
                            <div class="v-value">8,173</div>
                            <div id="visit-2"></div>
                            <div class="v-info">Avg. Visit Duration</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="panel green-box">
                    <div class="panel-body extra-pad">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="knob">
										<span class="chart" data-percent="79"> <span
                                                class="percent">79% <span class="sm">New Visit</span></span>
										</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="knob">
										<span class="chart" data-percent="56"> <span
                                                class="percent">56% <span class="sm">Bounce
													rate</span></span>
										</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="calendar-block ">
                            <div class="cal1"></div>
                        </div>
                        猪一样的队友
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <header class="panel-heading">
                        Todo List <span class="tools pull-right"> <a
                            class="fa fa-chevron-down" href="javascript:;"></a> <a
                            class="fa fa-times" href="javascript:;"></a>
							</span>
                    </header>
                    <div class="panel-body">
                        <ul class="to-do-list" id="sortable-todo">
                            <li class="clearfix"><span class="drag-marker"> <i></i>
								</span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check"/> <label
                                        for="todo-check"></label>
                                </div>
                                <p class="todo-title">Dashboard Design & Wiget placement</p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix"><span class="drag-marker"> <i></i>
								</span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check1"/> <label
                                        for="todo-check1"></label>
                                </div>
                                <p class="todo-title">Wireframe prepare for new design</p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix"><span class="drag-marker"> <i></i>
								</span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check2"/> <label
                                        for="todo-check2"></label>
                                </div>
                                <p class="todo-title">UI perfection testing for Mega
                                    Section</p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix"><span class="drag-marker"> <i></i>
								</span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check3"/> <label
                                        for="todo-check3"></label>
                                </div>
                                <p class="todo-title">Wiget & Design placement</p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>
                            <li class="clearfix"><span class="drag-marker"> <i></i>
								</span>
                                <div class="todo-check pull-left">
                                    <input type="checkbox" value="None" id="todo-check4"/> <label
                                        for="todo-check4"></label>
                                </div>
                                <p class="todo-title">Development & Wiget placement</p>
                                <div class="todo-actionlist pull-right clearfix">

                                    <a href="#" class="todo-remove"><i class="fa fa-times"></i></a>
                                </div>
                            </li>

                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" class="form-inline">
                                    <div class="form-group todo-entry">
                                        <input type="text" placeholder="Enter your ToDo List"
                                               class="form-control" style="width: 100%">
                                    </div>
                                    <button class="btn btn-primary pull-right" type="submit">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel blue-box twt-info">
                    <div class="panel-body">
                        <h3>19 Februay 2017</h3>

                        <p>
                            Cherish倾力打造的 <a href="http://www.caihongwen.cn" target="_blank">Cherish博客空间</a>
                            欢迎您的到来
                        </p>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="media usr-info">
                            <a href="#" class="pull-left"> <img class="thumb"
                                                                src="/image/myself.jpg" alt=""/>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Mila Watson</h4>
                                <span>Senior UI Designer</span>
                                <p>I use to design websites and applications for the web.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer custom-trq-footer">
                        <ul class="user-states">
                            <li><i class="fa fa-heart"></i> 127</li>
                            <li><i class="fa fa-eye"></i> 853</li>
                            <li><i class="fa fa-user"></i> 311</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--body wrapper end-->

</div>

<!--将被layout引入的js-->
<div layout:fragment="javascript">
    <script>
        $("#datapanelLi").addClass("active");
    </script>

</div>

</body>
</html>
