<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%date{HH:mm:ss.SSS}) %magenta() %highlight(%-5level) %blue([%file : %line])
                    %boldGreen(%msg%n)
                </pattern>
            </encoder>
        </appender>
        <!-- hibernate 输出SQL -->
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="cn.cherish.mboot" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>../logs/mboot.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>../logs/mboot.%d{yyyy-MM-dd}.log</fileNamePattern>
                <MaxHistory>30</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file : %line] - %msg%n
                </pattern>
            </encoder>
        </appender>
        <!-- project default level -->
        <logger name="cn.cherish.mboot" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="rollingFile"/>
        </root>
    </springProfile>


</configuration>