<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" />
    <title>无操作权限</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="error-page">
<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1>
                <img alt="500" src="/image/500-error.png">
            </h1>
            <h2>不好意思，你没有权限！</h2>
            <h3>Sorry, you have no permission!</h3>
            <p class="nrml-txt">
                Why not try refreshing you page? Or you can <a href="/">contact
                our support</a> if the problem persists.
            </p>

            <a class="back-btn" href="#" onclick="javascript:history.go(-1);"> Back </a>
        </section>

    </div>
</section>

<script src="/js/jquery-1.12.4.js" type="text/javascript"></script>
<script src="/tools/bootstrap-3.3.7/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/modernizr.js"></script>
</body>
</html>