<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="Cherish"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />

	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Cherish管理系统</title>

    <script>
        if(top.location!=self.location)top.location=self.location;
    </script>

    <!--common-->
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/style-responsive.css" rel="stylesheet"/>

    <!--bootstrap dataTables -->
    <link href="/css/style-table.css" rel="stylesheet"/>
    <link href="/css/table-responsive.css" rel="stylesheet"/>

    <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/image/logo.svg}" alt="LOGO"></a>
            <label>Cherish管理系统</label>
        </div>

        <div class="logo-icon text-center">
            <a th:href="@{/}"><img th:src="@{/image/logo.svg}" alt="LOGO"></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only 只在小型设备手机端显示-->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="头像" th:src="@{/image/user-avatar.png}" class="media-object">
                    <div class="media-body">
                        <h4>
                            <a href="#"><span th:text="${#session.getAttribute('nickname')}"></span></a>
                        </h4>
                    </div>
                </div>

                <h5 class="left-nav-title">用户信息</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a th:href="@{/user/profile}"><i class="fa fa-user"></i> <span>个人信息</span></a></li>
                    <li><a th:href="@{/user/modifyPassword}"><i class="fa fa-edit"></i> <span>修改密码</span></a></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li id="datapanelLi"><a th:href="@{/admin}"><i class="fa fa-home"></i> <span> 数据面板</span></a></li>

                <p shiro:hasAnyPermissions="user:show">
                    <li class="menu-list" id="userMenu"><a href=""><i class="fa fa-user"></i>
                    <span> 用户管理</span></a>
                    <ul class="sub-menu-list">
                        <p shiro:hasPermission="user:show">
                            <li id="userLi"><a th:href="@{/user}"> 用户列表</a></li>
                        </p>
                        <p shiro:hasPermission="user:show">
                            <li id="customerLi"><a th:href="@{/customer}"> 客户列表</a></li>
                        </p>
                        <p shiro:hasRole="super">
                            <li id="roleLi"><a th:href="@{/role}"> 角色列表</a></li>
                        </p>
                        <p shiro:hasRole="super">
                            <li id="permitLi"><a th:href="@{/permission}"> 权限列表</a></li>
                        </p>
                        <p shiro:hasRole="super">
                            <li id="superLi"><a th:href="@{/super}"> 权限控制</a></li>
                        </p>
                    </ul></li>
                </p>

                <p shiro:hasAnyPermissions="info:show">
                    <li class="menu-list" id="infoMenu"><a href=""><i class="fa fa-area-chart"></i>
                        <span> 资讯管理</span></a>
                        <ul class="sub-menu-list">
                            <li id="articleLi"><a th:href="@{/article}"> 文章列表</a></li>
                        </ul></li>
                </p>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">

                        <li><a href="#" class="btn btn-default dropdown-toggle info-number"
                               data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="badge" id="notification_sum">2</span>
                        </a>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">评论通知（待完成）</h5>
                                <ul class="dropdown-list normal-list" id="notification_ul">
                                    <li class="new"><a href=""> <span
                                            class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">Server #1 overloaded. </span> <em
                                                class="small">34 mins</em>
                                    </a></li>
                                    <li class="new"><a href=""> <span
                                            class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">Server #31 overloaded. </span> <em
                                                class="small">4 hrs</em>
                                    </a></li>
                                    <li class="new"><a href="">查看所有通知</a></li>
                                </ul>
                            </div></li>

                    <li><a href="#" class="btn btn-default dropdown-toggle"
                           data-toggle="dropdown"> <img
                            th:src="@{/image/user-avatar.png}" alt="" /> <span th:text="${#session.getAttribute('nickname')}"></span> <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a th:href="@{/user/profile}"><i class="fa fa-user"></i> 个人信息</a></li>
                            <li><a th:href="@{/user/modifyPassword}"><i class="fa fa-edit"></i> <span>修改密码</span></a></li>
                            <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> 登出</a></li>
                        </ul></li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <p shiro:authenticated="">
            <div id="contentpage" layout:fragment="content"></div>
        </p>

        <footer>
            2017 &copy; caihongwen.cn By Cherish
        </footer>

    </div>
    <!-- main content end-->
</section>

<script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script src="/js/modernizr.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<script src="/js/admin/myModal.js" type="text/javascript"></script>
<script src="/js/ajax.js" type="text/javascript"></script>

<!--bootstrap dataTables -->
<script src="/tools/dataTables-1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="/tools/dataTables-1.10.12/js/responsive.bootstrap.min.js" type="text/javascript"></script>

<!--bootstrap input mask-->
<script type="text/javascript" src="/tools/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script>
    //去除shiro模板产生的p标签
    $(function () {
        $allP = $(".custom-nav p");
        $.each($allP ,function (index, obj) {
            $(obj).remove();
        })
    });
</script>

<!-- 引入被装饰的js代码 -->
<div layout:fragment="javascript"></div>

</body>
</html>
